.container {
  padding: 0;
  margin-bottom: 20px;
}

.wrapper {
  height: 166px;
  width: 100%;
  background: url(../../../public/images/rfqBg.jpg) no-repeat;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  gap: 10px;
  background-size: cover;
  position: relative;

  & > h2 {
    font-weight: 800;
    color: var(--color-white);
    font-size: 20px;
    z-index: 3;
  }

  & > p {
    font-weight: 300;
    font-size: 1rem;
    color: var(--color-white);
    z-index: 3;
  }

  & > button {
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    font-size: 14px;
    color: var(--color-black);
    height: 35px;
    outline: none;
    width: calc(100% - 70px);
    background: #f2f2f2;
    z-index: 3;
  }

  &::after {
    position: absolute;
    content: ' ';
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }
}
