.container {
  padding: 0;
  margin-bottom: 20px;
}

.wrapper {
  height: 166px;
  width: 100%;
  background: url(../../../public/images/rfqBg.jpeg) no-repeat;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  gap: 10px;

  & > h2 {
    font-weight: 800;
    color: var(--color-white);
    font-size: 20px;
  }

  & > p {
    font-weight: 300;
    font-size: 1rem;
    color: var(--color-white);
  }

  & > button {
    border: 1px solid var(--color-white);
    border-radius: 8px;
    font-size: 14px;
    color: var(--color-white);
    height: 35px;
    outline: none;
    width: calc(100% - 70px);
    background: transparent;
  }
}
