.container {
  position: fixed;
  bottom: 140px;
  right: 20px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconCnt {
  background: linear-gradient(to bottom, #60d66a, #20b038);
  height: 53px;
  width: 53px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  & > svg {
    height: 30px;
    width: 30px;
    color: var(--color-white);
  }
}
