.main {
  padding: 0 20px 40px;
}

.filterContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-bottom: 1rem;
}

.filterWrp {
  padding: 6px 1rem;
  border-radius: 1rem;
  border: 1px solid #e6e6e6;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color-black-shade-one);
  transition: all 0.3s;
}

.filterWrp[data-active='true'] {
  border: 1px solid var(--color-primary);
  background: var(--color-primary);
  color: var(--color-white);
}

.totalCount {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #e6e6e6;
  padding: 10px;
  border-radius: 6px;
  margin: 20px 0;

  & > h3 {
    font-size: 2rem;
    color: var(--color-primary);
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 5px;
  }

  & > p {
    font-size: 1rem;
    color: var(--color-black-shade-one);
    font-weight: 500;
  }
}

.leadsWrp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #e6e6e6;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 6px;

  .index {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-black-shade-one);
    color: var(--color-white);
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 10px;
  }

  .textWrp {
    flex: 1;

    & > h2 {
      font-size: 1rem;
      color: var(--color-black-shade-one);
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 3px;
    }

    & > p {
      font-size: 1rem;
      color: var(--color-primary);
      font-weight: 600;
      text-transform: capitalize;
    }
  }
}

.noDataText {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  font-size: 1rem;
  font-weight: 500;
}

.loaderContainer {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .loaderWrp {
    height: 2rem;
    width: 2rem;
    border: 3px solid #ddd;
    border-radius: 50%;
    border-top: 3px solid var(--color-primary);
    animation: loginloaderAnimation 1s linear infinite;
  }
}

@keyframes loginloaderAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
